.product-table--title {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 45.85em) {
    margin-bottom: 20px;
  }

}
.product-table-scroll-wrapper {
  overflow-y:scroll;
}
.product-table {
  font-size: 13px;
  min-width: 600px;
  thead {
    th {
      padding: 0 10px 10px;
    }
  }
  tbody {
    th {
      text-align: left;
      font-family: $headlineFont;
      font-weight: bold;
      min-width: 190px;
      padding-left: 0;
    }
    tr {
      border-bottom: 2px solid $backgroundPrimary;
    }

    td {
      text-align: center;
      color: $colorTextSecondary;
      font-family: $bodyFont;
      padding: 10px 0;
    }
  }

  .product-title-row {
    td {
      padding: 10px;
      line-height: 1;
      @media (max-width: 600px) {
        font-size: 11px;
      }
      a {
        color: $blurple;
        font-family: $headlineFont;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $darkBlurple;
        }
      }
    }
  }
}