.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  background: $blurple;
  border-radius: 4px;
  font-size: 15px;
  color: $white;
  letter-spacing: 0.2px;
  height: 48px;
  font-weight: 600;
  padding: 3px 2.25em 0;
  transition: background 0.13s cubic-bezier(.2,.51,.76,.72) 0s, color 0.13s cubic-bezier(.2,.51,.76,.72) 0.025s;
  &--no-padding {
    padding: 0;
  }
  &:hover, &:focus {
    background: transparent;
    border: 2px solid $blurple;
    color: $blurple;
  }
  &--text {
    background: transparent;
    color: $blurple;
    &:hover, &:focus {
      border: 0;
      color: $colorTextSecondary;
    }
  }
  &--transparent {
    background: transparent;
    border: 2px solid $blurple;
    color: $blurple;
    &:hover, &:focus {
      background: $blurple;
      color: $white;
    }
  }
  &--outline-hover{
    &:hover {
      background: transparent;
      border: 2px solid $blurple;
      color: $blurple;
    }
  }
  &--full-width {
    width: 100%;
  }
  &:disabled {
    border: 2px solid rgba($colorTextSecondary, .5);
    color: rgba($colorTextSecondary, .5);
    background: transparent;
    cursor: not-allowed;
    &:hover {
      background: inherit;
      color: rgba($colorTextSecondary, .5);
    }
  }
}

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

