.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: $white;
    min-width: 300px;
    max-width: 600px;
    min-height: 330px;
    width: 60vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    z-index: -1;
    border-radius: 8px;
    opacity: 0;
    transform: translate(-50.1%, 65.1%);
    transition: opacity 350ms linear, transform 350ms cubic-bezier(.175,.885,.32,1.175);
    .close-action {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 19;
      cursor: pointer;
    }
    &.open {
      transform: translate(-50%, -50%);
      z-index: 19;
      opacity: 1;
    }


    .promo-modal--image {
      display: none;
    }

    .promo-modal--content {
      flex: 1;
      padding: 40px;
      display: flex;
      transition: inherit;
      overflow: hidden;
      .title {
        font-size: 28px;
        line-height: 1.21;
        padding-bottom: 20px;
      }
      .email-input {
        margin-bottom: 30px;
        width: 100%;
        text-align: left;
      }
    }

    @media (min-width: 900px) {
      .promo-modal--content {
        flex: 0 0 55%;
      }
      .promo-modal--image-wrapper {
        display: block;
        height: 100%;
        flex: 0 0 45%;
        background-color: #DDE4E6;
        border-radius: 8px 0 0 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }

    .success, .default {
      width: 100%;
      margin-right: -100%;
    }

    .success {
      opacity: 0;
      transform: translateY(100%);
      transition: inherit;
    }

    .default {
      transform: translateY(0);
      transition: inherit;
    }

    &.showSuccess {
      .success {
        opacity: 1;
        transform: translateY(0);
      }

      .default {
        opacity: 0;
        transform: translateY(-100%);
      }
    }

    .promo-code {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $backgroundPrimary;
      border-radius: 4px;
      font-weight: bold;
      padding: 0 20px;
      .copy-button {
        color: grey;
        opacity: .5;
        cursor: pointer;
        transition: opacity 150ms linear;
        &:hover {
          opacity: 1;
        }
      }
    }

    .copy-messages {
      display: flex;
      overflow: hidden;
      padding: 0 20px;
      margin-top: 10px;
      .copy-message {
        width: 100%;
        margin-right: -100%;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 300ms linear, transform 300ms cubic-bezier(.175,.885,.32,1.175);
        color: $blurple;
        font-family: $headlineFont;
        line-height: 1.2;
        &--error {
          color: $colorWarning;
        }
      }

      &.copy__success {
        .copy-message--success{
          opacity: 1;
          transform: translateY(0);
        }
      }

      &.copy__error {
        .copy-message--error{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
}
