.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: $white;
    min-width: 300px;
    max-width: 480px;
    width: 60vw;
    display: flex;
    justify-content: center;
    z-index: -1;
    border-radius: 8px;
    opacity: 0;
    transform: translate(-50.1%, 65.1%);
    transition: opacity 350ms linear, transform 350ms cubic-bezier(.175,.885,.32,1.175);
    .close-action {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 19;
      font-size: 20px;
      color: $colorTextSecondary;
      transition: color 150ms linear;
      cursor: pointer;
      &:hover {
        color: $colorTextBody;
      }
    }
    &.open {
      transform: translate(-50%, -50%);
      z-index: 19;
      opacity: 1;
    }

    .promo-modal--content {
      flex: 1;
      padding: 30px;
      display: flex;
      transition: inherit;
      overflow: hidden;
      @media (min-width: 768px) {
        padding: 60px;
      }
      .title {
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
      }
      .email-input {
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
        @media (min-width: 768px) {
          margin-bottom: 20px;
        }
      }
      .promo-modal--success-message {
        margin-bottom: 20px;
      }
    }

    .success, .default, .error{
      width: 100%;
      margin-right: -100%;
    }

    .default {
      transform: translateY(0);
      transition: inherit;
    }
    .success, .error{
      opacity: 0;
      transform: translateY(100%);
      transition: inherit;
    }


    // &.showLoading {
    //   .loading {
    //     opacity: 1;
    //     transform: translateY(0);
    //   }

    //   .default, .success, .error {
    //     opacity: 0;
    //     transform: translateY(-100%);
    //   }
    // }

    &.showSuccess {
      .success {
        opacity: 1;
        transform: translateY(0);
      }

      .default, .error{
        opacity: 0;
        transform: translateY(-100%);
      }
    }



    &.showError {
      .error {
        opacity: 1;
        transform: translateY(0);
      }

      .default, .success{
        opacity: 0;
        transform: translateY(-100%);
      }
    }


    .promo-modal--button-wrapper {
      overflow: hidden;
      display: flex;
      position: relative;
    }
    .loading-indicator {
      transform: translateY(100%);
      position: absolute;
      bottom: 12%;
      left: 0%;
      transition: opacity 150ms cubic-bezier(.5,0, .5, 1);
      opacity: 0;
      p {
        font-family: $headlineFont;
        color: $grey60;
      }
      .fas {
        display: inline-block;
        margin-right: 10px;
      }
    }
    input[type="submit"]{
      opacity: 1;
      transition: opacity 150ms cubic-bezier(.5,0, .5, 1);
      // transform: translateY(0);
      // transition: transform 100ms ease-in;
    }
    &.loading{
      input[type="submit"]{
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-100%);
      }

      .loading-indicator {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .promo-code {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $backgroundPrimary;
      border-radius: 4px;
      font-weight: bold;
      padding: 0 20px;
      .copy-button {
        color: grey;
        opacity: .5;
        cursor: pointer;
        transition: opacity 150ms linear;
        &:hover {
          opacity: 1;
        }
      }
    }

    .copy-messages {
      display: flex;
      overflow: hidden;
      padding: 0 20px;
      margin-top: 10px;
      .copy-message {
        width: 100%;
        margin-right: -100%;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 300ms linear, transform 300ms cubic-bezier(.175,.885,.32,1.175);
        color: $blurple;
        font-family: $headlineFont;
        line-height: 1.2;
        &--error {
          color: $colorWarning;
        }
      }

      &.copy__success {
        .copy-message--success{
          opacity: 1;
          transform: translateY(0);
        }
      }

      &.copy__error {
        .copy-message--error{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .promo-modal--disclaimer {
      margin-top: 30px;
      font-size: 11px;
      line-height: 1.54;
      color: $colorTextSecondary;
    }

}
