.product-table--title {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 45.85em) {
    margin-bottom: 20px;
  }

}
.product-table {
  font-size: 13px;
  thead {
    th {
      padding: 0 10px 10px;
    }
  }
  tbody {
    th {
      text-align: left;
      font-family: $headlineFont;
      font-weight: bold;
      min-width: 190px;
      padding-left: 0;
    }
    tr {
      border-bottom: 2px solid $backgroundPrimary;
    }

    td {
      text-align: center;
      color: $colorTextSecondary;
      font-family: $bodyFont;
      padding: 10px 0;
      @media (max-width: 45.85em) {
        text-align: right;
      }
    }
  }

  .product-title-row {
    td {
      color: $blurple;
      font-family: $headlineFont;
      font-weight: bold;
      line-height: 1.2;
      padding: 10px;
    }

    @media (max-width: 45.85em) {
      display: none;
    }
  }
}