form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

input[type="text"],
input[type="email"] {
    font-size: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    text-align: center;
    transition: border-color 250ms ease-in;
    padding: 16px 14px 14px;
    &:focus {
      border-color: $colorTextSecondary;
    }
    &::placeholder {
      color: #B3B3B3;
    }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}

// gift card input styles
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $headlineFont;
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  background: $white;
  background-image: url(https://cdn.shopify.com/s/files/1/0048/7463/3289/files/chevron-down.png?14067551161126581996);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.selector-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    color: #999;
    font-size: 13px;
    font-family: $headlineFont;
  }
  select {
    padding: 15px;
  }
}
