html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}


body {
  min-width: 320px;
  background: $backgroundLight;
  font-family: $bodyFont;
  font-size: 15px;
  line-height: 1.67;
  color: $colorTextBody; }
a {
  color: inherit;
  text-decoration: underline; }
a:hover, a[href^='tel'] {
    text-decoration: none; }
h3 {
  font-family: $headlineFont;
  font-size: 22px;
  font-weight: 900;
  color: $blurple; }

p:last-child {
    margin-bottom: 0; }
a,
input[type='submit'],
input[type='button'],
button {
  -webkit-transition: opacity 0.3s cubic-bezier(.5, 0, .5, 1), background 0.3s cubic-bezier(.5, 0, .5, 1), color 0.3s cubic-bezier(.5, 0, .5, 1);
  -o-transition: opacity 0.3s cubic-bezier(.5, 0, .5, 1), background 0.3s cubic-bezier(.5, 0, .5, 1), color 0.3s cubic-bezier(.5, 0, .5, 1);
  transition: opacity 0.3s cubic-bezier(.5, 0, .5, 1), background 0.3s cubic-bezier(.5, 0, .5, 1), color 0.3s cubic-bezier(.5, 0, .5, 1); }

.section {
  margin-bottom: 40px;
  &.section-gap-large{
    margin-top: 40px;
    @media (min-width: 768px){
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }

  &.section-gap-xlarge{
    margin-top: 60px;
    margin-bottom: 60px;
    @media (min-width: 768px){
      margin-top: 140px;
      margin-bottom: 140px;
    }
  }
}

.container {
  max-width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media (min-width: 1045px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.full-width {
  width: 100vw;
  @include clearfix;
}
