/* SofiaPro */
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_regular-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_regular-webfont.woff?12214106982975796308") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_semi_bold-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_semi_bold-webfont.woff?12214106982975796308") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_semi_bold_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_semi_bold_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_bold-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_bold-webfont.woff?12214106982975796308") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_bold_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_bold_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_black-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_black-webfont.woff?12214106982975796308") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'SofiaPro';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_black_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/sofia_pro_black_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: 900;
  font-style: italic; }
/* Proxima Nova */
@font-face {
  font-family: 'ProximaNova';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_regular-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_regular-webfont.woff?12214106982975796308") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_regular_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_regular_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNova';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_bold-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_bold-webfont.woff?12214106982975796308") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_bold_italic-webfont.woff2?12214106982975796308") format("woff2"), url("//cdn.shopify.com/s/files/1/0005/5354/9942/t/2/assets/proxima_nova_bold_italic-webfont.woff?12214106982975796308") format("woff");
  font-weight: bold;
  font-style: italic; }


html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

h1,
h2,
h3,
h4,
button,
a.button,
.text-logo,
.mobile-menu
{
  font-family: SofiaPro, Arial, Helvetica, sans-serif;
  color: #5700FF;
}

span {
  color: inherit;
}

h2 {
  font-size: 28px;
  letter-spacing: 0;
  line-height: 1.21;
  @media (min-width: 768px){
    font-size: 50px;
    letter-spacing: -0.5px;
    line-height: 1.12;
  }
}

h3 {
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 1.5;
  font-weight: 600;
  @media (min-width: 768px){
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 1.77;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}

p {
  font-family: ProximaNova,  Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 1.6;
  @media (min-width: 768px){
    line-height: 1.86;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

nav a {
  font-family: SofiaPro, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #808080;
}

