{% comment %}
Returns Page Tempalte

This is currently identical to the standard page template.
{% endcomment %}

{% include 'page_udo' %}

<div class="page-container">
  <h2>{{ page.title }}</h2>
  {{ page.content }}
</div>

