<?xml version="1.0" encoding="UTF-8"?>
<svg width="37px" height="33px" viewBox="0 0 37 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="banner/desktop/formula-copy-7" transform="translate(-531.000000, -274.000000)">
            <g id="Group-5" transform="translate(489.000000, 40.000000)">
                <g id="Group-4" transform="translate(41.000000, 231.000000)">
                    <g id="Group" transform="translate(0.428571, 0.000000)">
                        <g id="illustration-/-pen">
                            <g id="Group" transform="translate(0.843750, 2.953125)">
                                <g id="Group-16">
                                    <polygon id="Stroke-1" stroke="#5700FF" stroke-width="1.0546875" stroke-linecap="round" stroke-linejoin="round" points="18.9853832 21.1554057 23.3933682 15.9277977 20.5312828 12.8189528 14.8677871 16.6828899"></polygon>
                                    <path d="M21.0376267,13.3690682 L24.390796,10.3422058" id="Stroke-2" stroke="#5700FF" stroke-width="0.6328125" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M21.9623052,14.3733955 L25.3154745,11.3465332" id="Stroke-3" stroke="#5700FF" stroke-width="0.6328125" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M22.8869633,15.3779258 L26.2401326,12.3508606" id="Stroke-4" stroke="#5700FF" stroke-width="0.6328125" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <polyline id="Stroke-13" stroke="#5700FF" stroke-width="1.0546875" stroke-linecap="round" stroke-linejoin="round" points="0.202703995 29.3749523 14.5934904 16.3845666 19.2598017 21.4536884 7.91799672 31.6919752"></polyline>
                                    <path d="M29.2791706,4.91686555 L30.8914273,4.61166301 C31.0555955,4.58061515 31.0555955,4.34542251 30.8914273,4.31417172 L29.2791706,4.00896919 C29.2180895,3.99760526 29.1701987,3.94971444 29.1586318,3.88863335 L28.8534293,2.27617369 C28.8223814,2.1122085 28.5871888,2.1122085 28.5561409,2.27617369 L28.2509384,3.88863335 C28.2391686,3.94971444 28.1914807,3.99760526 28.1303996,4.00896919 L26.5181429,4.31417172 C26.3537719,4.34542251 26.3537719,4.58061515 26.5181429,4.61166301 L28.1303996,4.91686555 C28.1914807,4.9284324 28.2391686,4.97612029 28.2509384,5.03740431 L28.5561409,6.64966104 C28.5871888,6.81382915 28.8223814,6.81382915 28.8534293,6.64966104 L29.1586318,5.03740431 C29.1701987,4.97612029 29.2180895,4.9284324 29.2791706,4.91686555" id="Fill-5" fill="#5700FF"></path>
                                    <path d="M34.5909528,2.21460558 L35.7644809,1.99240028 C35.884208,1.96987536 35.884208,1.79860479 35.7644809,1.77607987 L34.5909528,1.55387456 C34.5465117,1.54555455 34.5116083,1.51065107 34.5032883,1.46621001 L34.281083,0.292478995 C34.258558,0.172954866 34.0872875,0.172954866 34.0645596,0.292478995 L33.8425572,1.46621001 C33.8342372,1.51065107 33.7993337,1.54555455 33.7546898,1.55387456 L32.5811617,1.77607987 C32.4616375,1.79860479 32.4616375,1.96987536 32.5811617,1.99240028 L33.7546898,2.21460558 C33.7993337,2.22312852 33.8342372,2.25782907 33.8425572,2.30247306 L34.0645596,3.47600115 C34.0872875,3.59552528 34.258558,3.59552528 34.281083,3.47600115 L34.5032883,2.30247306 C34.5116083,2.25782907 34.5465117,2.22312852 34.5909528,2.21460558" id="Fill-7" fill="#5700FF"></path>
                                    <path d="M33.787564,12.5357678 L36.2166027,12.0761377 C36.6252981,11.9988224 36.6252981,11.4133774 36.2166027,11.3360621 L33.787564,10.8762291 C33.6353686,10.8476163 33.5164532,10.7284981 33.4874346,10.5763027 L33.0278045,8.14726388 C32.9504892,7.73836555 32.3650442,7.73836555 32.2877289,8.14726388 L31.8278958,10.5763027 C31.7992831,10.7284981 31.6801648,10.8476163 31.5279694,10.8762291 L29.0991336,11.3360621 C28.6902352,11.4133774 28.6902352,11.9988224 29.0991336,12.0761377 L31.5279694,12.5357678 C31.6801648,12.5647864 31.7992831,12.6837018 31.8278958,12.8358972 L32.2877289,15.264733 C32.3650442,15.6736314 32.9504892,15.6736314 33.0278045,15.264733 L33.4874346,12.8358972 C33.5164532,12.6837018 33.6353686,12.5647864 33.787564,12.5357678" id="Fill-10" fill="#5700FF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>