<div>
  <table class="product-table responsive-table">
    <thead>
      <th></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
    </thead>
    <tbody>
      <tr class="product-title-row">
        <th>Product</th>
        <td>Whitening pens</td>
        <td>Whitening pens</td>
        <td>Whitening pens</td>
        <td>Whitening pens</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>$49</td>
        <td>$49</td>
        <td>$49</td>
        <td>$49</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>$49</td>
        <td>$49</td>
        <td>$49</td>
        <td>$49</td>
      </tr>
      <tr>
        <th>Pens</th>
        <td>1</td>
        <td>4</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <th>Light</th>
        <td><i class="fas fa-check"></i></td>
        <td></td>
        <td></td>
        <td><i class="fas fa-check"></i></td>
      </tr>
      <tr>
        <th>Lip Balm</th>
        <td></td>
        <td><i class="fas fa-check"></i></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>8-Day Treatments</th>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <th>Months of Enbrightenment</th>
        <td></td>
        <td>3 months</td>
        <td>6 months</td>
        <td>6 months</td>
      </tr>
    </tbody>
  </table>