<div>
  <table class="product-table responsive-table">
    <thead>
      <th></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
      <th><img src="{{images['product-grid-whitening-pens.jpg'] |  img_url: '600x' }}}}" alt=""></th>
    </thead>
    <tbody>
      <tr class="product-title-row">
        <th>Product</th>
        <td >Whitening pens</td>
        <td>Whitening pens</td>
        <td>Whitening pens</td>
        <td>Whitening pens</td>
      </tr>
      <tr>
        <th>Price</th>
        <td data-label="Whitening Pens">$49</td>
        <td data-label="Whitening Kit">$49</td>
        <td data-label="Whitening Pens">$49</td>
        <td data-label="Whitening Pens">$49</td>
      </tr>
      <tr>
        <th>Value</th>
        <td data-label="Whitening Pens">$49</td>
        <td data-label="Whitening Kit">$49</td>
        <td data-label="Whitening Pens">$49</td>
        <td data-label="Whitening Pens">$49</td>
      </tr>
      <tr>
        <th>Pens</th>
        <td data-label="Whitening Pens">1</td>
        <td data-label="Whitening Kit">4</td>
        <td data-label="Whitening Pens">8</td>
        <td data-label="Whitening Pens">9</td>
      </tr>
      <tr>
        <th>Light</th>
        <td data-label="Whitening Pens"><i class="fas fa-check"></i></td>
        <td data-label="Whitening Kit"></td>
        <td data-label="Whitening Pens"></td>
        <td data-label="Whitening Pens"><i class="fas fa-check"></i></td>
      </tr>
      <tr>
        <th>Lip Balm</th>
        <td data-label="Whitening Pens"></td>
        <td data-label="Whitening Kit"><i class="fas fa-check"></i></td>
        <td data-label="Whitening Pens"></td>
        <td data-label="Whitening Pens"></td>
      </tr>
      <tr>
        <th>8-Day Treatments</th>
        <td data-label="Whitening Pens"></td>
        <td data-label="Whitening Kit">1</td>
        <td data-label="Whitening Pens">2</td>
        <td data-label="Whitening Pens">3</td>
      </tr>
      <tr>
        <th>Months of Enbrightenment</th>
        <td data-label="Whitening Pens"></td>
        <td data-label="Whitening Kit">3 months</td>
        <td data-label="Whitening Pens">6 months</td>
        <td data-label="Whitening Pens">6 months</td>
      </tr>
    </tbody>
  </table>