<div class="social-gallery-section section">
  <h2 class="social-gallery--headline">
    {{ social_header | default: "See the light" }}
  </h2>

  {% comment %} <script src="https://unpkg.com/vue"></script> {% endcomment %}
  {% comment %} Loading the local js package {% endcomment %}
  {% comment %} {{ 'social-album-widget.js' | asset_url | script_tag }}
  <social-album-widget></social-album-widget> {% endcomment %}
</div>