#modalCart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  transform: translateX(100%) translateZ(0);
  transition: transform 250ms cubic-bezier(.5,0,.5,1);
  background: $backgroundPrimary;
  width: 100vw;
  @media (min-width: 768px) {
    width: 420px;
  }
  &.isOpen {
    transform: translateX(0);
  }
}

// Desktop cart page

.desktop-cart-wrapper {
  max-width: 500px;
  margin: 40px auto;
  background: $backgroundPrimary;
}

.template-cart{
  background: $backgroundPrimary;
  .app-wrapper {
    background: $backgroundPrimary;
  }
  #shopify-section-footer {
    background: $backgroundLight;
  }
}


.modal-content-container{
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  // overflow: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  &.no-items {
    justify-content: flex-start;
    text-align: center;
  }
  @media (min-width: 768px){
    padding-left: 40px;
    padding-right: 40px;
  }
}

.cart-title {
  text-align: center;
  margin: 20px 0;
  h3 {
    color: $colorTextSecondary;
    font-size: 17px;
  }
  @media (min-width: 768px){
    margin-bottom: 40px;
    margin-top: 20px;
    h3 {
      font-size: 28px;
    }
  }

}

.cart-items {
  // max-height: 53vh;
  overflow: auto;
  @media (min-width: 768px) {
    // max-height: 65vh;
  }
}

.cart-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1) rotate(0) translateZ(0);
  color: $colorTextSecondary;
  transition: transform 200ms cubic-bezier(.23,1.29,1,1);
  font-weight: 600;
  cursor: pointer;
  @media (min-width: 768px) {
    left: 20px;
    font-size: 15px;
  }

  &:hover {
    transform: scale(1.1) rotate(90deg);
    color: $blurple;
  }
}


.cart-summary {
  display: flex;
  flex-direction: column;
  // min-height: 20vh;
  // min-height: calc(var(--vh, 1vh) * 20);
  opacity: 1;
  transform: translateY(0);
  transition: transform, 250ms cubic-bezier(.5,0,.5,1),opacity 250ms linear;
  margin-top: 20px;
  padding-bottom: 10px;
  .cart-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #E0E0E0;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    p {
      font-weight: 900;
      font-family: $headlineFont;
    }
    p:first-of-type {
      color: $colorTextSecondary;
      text-transform: uppercase;
    }
    p:last-of-type {
      color: $blurple;
      font-size: 28px;
    }
  }
  .cart-shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p{
      font-weight: 900;
      font-family: $headlineFont;
      text-transform: uppercase;
      color: $colorTextSecondary;
    }
    p:last-of-type{
      color: $blurple;
    }
  }
  .promo-code{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .coupon-code-input{
      width: 60%;
      line-height: normal;
      padding: 12px 14px;
      text-align: center;
      font-weight: 700;
      color: #989898;
      text-transform: uppercase;
    }
    .coupon-code-button{
      height: auto;
      width: 35%;
      padding: 0; // Flex takes care of sizing
    }
    .error-message{
      display: none;
    }
    .valid-code{
      display: none;
    }
    &.valid{
      .coupon-code-input, .coupon-code-button{
        display: none;
      }
      .valid-code{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #989898;
        border-radius: 3px;
        padding: 10px 15px;
        width: 100%;
        @media (max-width: 768px){
          padding: 10px 10px;
        }
        .text{
          .title{
            font-weight: 700;
            color: #1fc6d2;
          }
          .code{
            text-transform: uppercase;
          }
          .checkout-note{
            font-size: 1.2rem;
            color: #989898;
          }
        }
        .remove-promo-code{
          display: block;
          font-size: 1.3rem;
          font-weight: 700;
          text-decoration: none;
          color: #989898;
        }
      }
    }
    &.invalid{
      .coupon-code-input{
        border-color: #f96162;
      }
      .error-message{
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1.2rem;
        color: #f96162;
        padding-top: 5px;
      }
    }
  }

  .additional-checkout-buttons{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    .additional-checkout-button + .additional-checkout-button{
      margin-left: 0;
    }
    .additional-checkout-button--google-pay{
      width: 100% !important;
    }
  }

  @media (max-width: 768px){
    .continue-shopping-button{
      padding-top: 15px;
      padding-bottom: 30px;
      height: auto;
    }
  }
}


// empty cart state
.cart-empty-message {
  text-align: center;
  opacity: 0;
  transition: opacity 250ms 150ms linear;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 10px;
  }
}

// transition opacity for empty message only
// when cart is open
.isOpen .cart-empty-message{
  opacity: 1;
}

.modal-content-container:not(.--empty) {
  .cart-empty-message {
    transition: none;
    transition-delay: none;
    opacity: 0;
    height: 0;
  }
}

.modal-content-container.--empty{
  justify-content: flex-start;
  overflow: hidden;
  .cart-summary {
    transform: translateY(100%);
    opacity: 0;
  }
}

// Overlay styles

.app-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: auto;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in;
  cursor: pointer;
}
body.modalOpen {
  .app-wrapper {
    overflow: hidden;
    height: 100%;
  }
  .modal-overlay{
    opacity: 1;
    z-index: 10;
    left: 0;
  }
  @media (min-width: 769px) {
    .app-wrapper {
      overflow: auto;
    }
    .modal-overlay {
      opacity: 0;
      z-index: 0;
      left: -100%;
    }
  }

};

body.modalDesktop {
  .app-wrapper {
    overflow: hidden;
    height: 100%;
  }
  .modal-overlay{
    opacity: 1;
    z-index: 15;
    left: 0;
  }
}

body.modalDesktop-scroll{
  overflow: hidden;
  .modal-overlay{
    position: fixed;
    opacity: 1;
    z-index: 15;
    left: 0;
  }
}
