.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.installment-button__options {
  display: flex;
}

.installment-button__option {
  width: 100%;
  margin-right: -100%;
  display:none;
  &.--selected {
    display: block;
  }
}

.product-info-gallery .photo-main-image .vimeo-video{
  position:relative;
  padding: 56.25% 0 0 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  iframe{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }
  @media (max-width: 768px) {
    padding-top: 100%;
    iframe{
      top: 45%;
      transform: translateY(-50%);
    }
  }
}

.product-info-price.compare-price {
  padding-right: 10px;
}

[data-product-handle='gift-of-a-smile'] .product-info-gallery .photo-thumbnails li{
  // Overide VIG
  display: inline-block !important;
}
[data-product-handle='gift-of-a-smile'] .product-info-gallery .photo-thumbnails li.hide{
  // Allow hiding still
  display: none !important;
}
