.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.installment-button__options {
  display: flex;
}

.installment-button__option {
  width: 100%;
  margin-right: -100%;
  display:none;
  &.--selected {
    display: block;
  }
}
