.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.installment-button__options {
  display: flex;
}

.installment-button__option {
  width: 100%;
  margin-right: -100%;
  display:none;
  &.--selected {
    display: block;
  }
}

.photo-main-image .vimeo-video{
  position:relative;
  iframe{
    width:100%;
    height:100%;
  }
  @media (min-width: 768px){
    padding: 56.25% 0 0 0;
    iframe{
      position:absolute;
      top:0;
      left:0;
    }
  }
}