{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<div id="enap-gallery-49206"></div><div id="enap-gallery-popup-49206"></div><script src="https://enormapps.com/gallery/embed.js" data-id="49206"></script>
{% javascript %}
{% endjavascript %}
