{%- assign _section = section.settings -%}
<footer class="footer">
	<div class="shell">
		<a href="/" class="logo footer__logo notext">{{ shop.name }}</a>

		{%- if _section.nav != empty -%}
			<div class="footer__nav">
				{%- include 'menu', handle: _section.nav -%}
			</div><!-- /.footer__nav -->
		{%- endif -%}

		{%- capture socials -%}
			social_facebook_link|fa-facebook-f
			social_instagram_link|fa-instagram
			social_pinterest_link|fa-pinterest-p
			social_twitter_link|fa-twitter
			social_youtube_link|fa-youtube
			social_snapchat_link|fa-snapchat-ghost
		{%- endcapture -%}
		{%- assign socialsArray = socials | newline_to_br | split: '<br />' -%}

		<div class="footer__socials">
			<ul>
				{%- for social in socialsArray -%}
					{%- assign socialArray = social | split: "|" -%}
					{%- assign socialUrl = socialArray[0] | strip -%}
					{%- assign socialIcon = socialArray[1] | strip -%}

					{%- if settings[socialUrl] == empty -%}
						{%- continue -%}
					{%- endif -%}

					<li>
						<a href="{{ settings[socialUrl] }}">
							<i class="fab {{ socialIcon }}"></i>
						</a>
					</li>
				{%- endfor -%}
			</ul>
		</div><!-- /.footer__socials -->

		<div class="footer__copyright copyright">
			<p>{{ 'layout.footer.copyright' | t }}</p>
		</div><!-- /.copyright -->

		{%- if _section.links != empty -%}
			<div class="footer__links">
				{%- include 'menu', handle: _section.links -%}
			</div><!-- /.footer__links -->
		{%- endif -%}
	</div><!-- /.shell -->
</footer><!-- /.footer -->

{% schema %}
{
	"name": "Footer",
	"settings": [
		{
			"type": "link_list",
			"id": "nav",
			"label": "Navigation"
		},
		{
			"type": "link_list",
			"id": "links",
			"label": "Links"
		}
	]
}
{% endschema %}
