{%- assign bg_color = section.settings.background_color -%}
{%- assign logoImage = section.settings.logo_image -%}
{%- assign eyebrow = section.settings.eyebrow -%}
{%- assign personImage = section.settings.person_image -%}
{%- assign ctaLink = section.settings.cta_link -%}
{%- assign ctaText = section.settings.cta_text -%}
{%- assign ctaColor = section.settings.cta_color -%}
{%- assign headline = section.settings.headline -%}
{%- assign text = section.settings.text -%}
{% include 'masthead'%}

{% schema %}
{
	"name": "Masthead",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F7F5F2"
    },
    {
      "type": "richtext",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Another grinchanger."
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text (Accepts HTML)",
      "default": "<p>Our proprietary formula is designed to work, in just 5 minutes, on even the most sensitive teeth. So everyone can achieve their brightest bright.</p>"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "person_image",
      "label": "Person image"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Shop now"
    },
    {
      "type": "color",
      "id": "cta_color",
      "label": "Button Color (Affects border and text color)",
      "default": "#5300FF"
    }
  ],
	"presets": [
		{
			"name": "Masthead",
			"category": "content"
		}
	]
}
{% endschema %}
