
<div class="join-the-club-section">
  <h2>Join the club.</h2>
  <div class="image-container">
    
      <a href="/products/teeth-whitening-kit-led-light-and-12-month-pen-supply" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-22_1024x1024_c64599d1-0930-4b06-8b31-f6d066a29cfd_475x475.jpg?v=1574481723">
      </a>
    
      <a href="/products/teeth-whitening-light" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-20_1024x1024_6537173f-916c-4a95-93af-32ab754808ac_475x475.jpg?v=1574481698">
      </a>
    
      <a href="/products/lip-balm" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-19_1024x1024_a9c2fbc5-c6d8-427e-a6a1-9ecf495ee3c1_475x475.jpg?v=1574481671">
      </a>
    
      <a href="/products/teeth-whitening-light" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-21_1024x1024_27115ee2-f886-48da-ab21-81a80b285d44_475x475.jpg?v=1574481708">
      </a>
    
      <a href="/products/lip-balm" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-23_1024x1024_cd75c76a-7c47-44d4-873e-f511d7f97b71_475x475.jpg?v=1574481739">
      </a>
    
      <a href="/products/teeth-whitening-light" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/Enorm-Gallery49212-group-24_1024x1024_ffdea40f-69f8-47c2-bc5d-3a4d1a38c2f0_475x475.jpg?v=1574481752">
      </a>
    
      <a href="/collections/teeth-whitening" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/image_9_475x475.jpg?v=1579012984">
      </a>
    
      <a href="/collections/teeth-whitening" class="image-item">
        <img class="avatar" src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/image_11_475x475.jpg?v=1579013061">
      </a>
    
  </div>
</div>



<!-- <div class="join-the-club-section">
  <h2>{{ section.settings.title }}</h2>
  <div class="image-container">
    {% for content in section.blocks %}
      <a href="{{content.settings.link}}" class="image-item">
        <img class="avatar" src="{{ content.settings.image.src | img_url: '475x475' }}" />
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Happy Customers",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Customer Image",
        "settings": [
          {
            "id": "link",
            "type": "url",
            "label": "Linked Destination"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Happy Customers",
        "category": "content"
      }
    ]
  }
{% endschema %} -->
