.section-banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  img {
    max-height: 448px;
  }
}

.banner-text {
  max-width: 400px;
  padding: 10em 0;
  h2 {
    margin-bottom: 20px;
  }
}
