#modalCart {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  height: 100vh;
  transform: translateX(100%) translateZ(0);
  transition: transform 250ms cubic-bezier(.5,0,.5,1);
  background: #F5F5F5;
  width: 100vw;
  @media (min-width: 768px) {
    width: 420px;
  }
  &.isOpen {
    transform: translateX(0);
  }
}

.desktop-cart-wrapper {
  max-width: 600px;
  margin: 20px auto;
  background: #F5F5F5;
  border-radius: 4px;
  box-shadow: -6px 13px 24px -22px;
  padding: 20px;
}


.modal-content-container{
  padding: 20px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.no-items {
    justify-content: flex-start;
    text-align: center;
  }
  @media (min-width: 768px){
    padding-left: 40px;
    padding-right: 40px;
  }
}

.cart-title {
  text-align: center;
  margin: 20px 0;
  h3 {
    color: #808080;
    font-size: 17px;
  }
  @media (min-width: 768px){
    margin-bottom: 40px;
    margin-top: 20px;
    h3 {
      color: #5700FF;
      font-size: 28px;
    }
  }

}

.cart-items {
  max-height: 53vh;
  overflow: auto;
  @media (min-width: 768px) {
    max-height: 65vh;
  }
}

.cart-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1) translateZ(0);
  color: #808080;
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  cursor: pointer;
  @media (min-width: 768px) {
    left: 20px;
  }

  &:hover {
    transform: scale(0.8);
  }
}


.cart-summary {
  border-top: 2px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  .cart-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    p {
      font-weight: 900;
      font-family: SofiaPro, Arial, Helvetica, sans-serif;
    }
    p:first-of-type {
      color: #808080;
      text-transform: uppercase;
    }
    p:last-of-type {
      color: #5700FF;
      font-size: 28px;
    }
  }
}

// Overlay styles

.app-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: auto;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in;
  cursor: pointer;
}
body.modalOpen {
  .app-wrapper {
    overflow: hidden;
    height: 100%;
  }
  .modal-overlay{
    opacity: 1;
    z-index: 10;
    left: 0;
  }
  @media (min-width: 768px) {
    .app-wrapper {
      overflow: auto;
    }
    .modal-overlay {
      opacity: 0;
      z-index: 0;
      left: -100%;
    }
  }

};



body.modalDesktop {
  .app-wrapper {
    overflow: hidden;
    height: 100%;
  }
  .modal-overlay{
    opacity: 1;
    z-index: 15;
    left: 0;
  }
}

