header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 54px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  nav {
    display: none;
  }
  @media (min-width: 768px){
    padding: 0 30px;
    min-height: 75px;
    .hamburger {
      display: none;
    }
    nav {
      display: block;
    }
    .text-logo {
      order: -1;
    }
  }
  .cart-wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: #5500FF;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;
    text-decoration: none;
    .cart-title-wrapper {
      display: none;
    }
    .cart-icon-wrapper {
      display: flex;
      padding: 2px 4px 0 0;
    }
    @media (min-width: 768px) {
      color: #808080;
      transition: color 200ms linear;
      &:hover {
        color: #5500FF;
      }
      .cart-title-wrapper {
        display: block;
        padding-right: 4px;
      }
      .cart-icon-wrapper {
        display: none;
      }
    }
  }
}

nav{
  ul{
    display: flex;
    li {
      padding: 0 10px;
      a {
        text-decoration: none;
        transition: color 200ms linear;
        &:hover {
          color: #5500FF;
        }
      }
    }
  }
}

.text-logo {
  margin: 0;
  padding: 0;
  font-size: 17px;
  letter-spacing: 0;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: none;
  }
  span {
    font-weight: 300;
  }
}

.hamburger {
  position: relative;
  height: 16px;
  width: 24px;
  cursor:pointer;
  transform: rotate(0);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  .hamburger-line{
    width: 100%;
    height: 2px;
    background: #5500FF;
    position: absolute;
    transition:
      transform 300ms cubic-bezier(.5, 0, .5, 1),
      top 300ms cubic-bezier(.5, 0, .5, 1),
      bottom 300ms cubic-bezier(.5, 0, .5, 1),
      opacity 300ms cubic-bezier(.5, 0, .5, 1);
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-1px) rotate(0);
    }
    &:nth-of-type(3) {
      bottom: 0
    }
  }
  &.open {
    transform: rotate(45deg);
    .hamburger-line{
      &:nth-of-type(1) {
        top: 50%;
        transform: translateY(-1px);
        opacity: 0;
      }
      &:nth-of-type(2) {
        transform: rotate(90deg) translateX(-3px);
      }
      &:nth-of-type(3) {
        bottom: 50%;
        transform: translateY(-1px);
      }
    }
  }
}

.main-site-link {
  padding: 8px 20px;
  @media (min-width: 768px) {
    padding: 12px 30px;
  }
  a {
    font-family: ProximaNova,  Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    span {
      display: inline-block;
      transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    }
    &:hover {
      span {
        transform: translateX(3px);
      }
    }
  }
}

// For mobile menu transition
[data-section-type="header"]{
  z-index: 15;
  position: relative;
  background: white;
}
