.section-masthead {
  min-height: 390px;
  display: flex;
  align-items: flex-end;
  @media (min-width: 768px) {
    max-height: 540px;
    height: 50vw;
    min-height: 390px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    @media (min-width: 768px) {
      flex-direction: row;
      padding-top: 0;
    }
    .image-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 768px) {
        align-items: flex-start;
        text-align: left;
      }
      img {
        width: 100%;
      }
    }
    .logo-image-wrapper {
      margin-bottom: 20px;
      margin-right: 0;
      @media (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 30px;
      }
      img {
        max-width: 240px;
        margin-bottom: 10px;
        @media (min-width: 768px) {
          max-width: 280px;
          margin-bottom: 20px;
        }
      }
      p {
        font-size: 16px;
        line-height: 1.52;
        margin-bottom: 20px;
        width: 85%;
        @media (min-width: 768px) {
          font-size: 21px;
          margin-bottom: 40px;
        }
      }
    }

    .person-image-wrapper {
      max-width: 295px;
      @media (min-width: 768px) {
        max-width: 540px;
      }
    }
  }
}
