.section-product-grid {
  display: flex;
}

.product-grid-item {
  flex: 0 0 50%;
  text-align: center;
  text-decoration: none;
  display: block;

  // transform: translateY(0);
  &:hover {
    img {
      transform: translateY(-10px);
    }
  }
  img {
    max-height: 308px;
    min-height: 158px;
    height: 30vw;
    margin-bottom: 36px;
    transition: transform 300ms ease;
  }
  p {
    font-family: SofiaPro, Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.77;
    letter-spacing: 0.45px;
  }
}
