.section-product-grid {
  display: block;
  @media (min-width: 768px) {
    display: flex;
  }
}

.product-grid-item {
  flex: 0 0 50%;
  text-align: center;
  text-decoration: none;
  display: block;
  img {
    height: 308px;
    margin-bottom: 36px;
  }
  p {
    font-family: SofiaPro, Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.77;
    letter-spacing: 0.45px;
  }
}
